name: Publish
on:
  push:
    branches:
      - 'master'
    tags: 
      - 'v[0-9]+.[0-9]+.[0-9]+'
      - 'v[0-9]+.[0-9]+.[0-9]+-rc[0-9]+'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '13'
      - run: make install-dependencies
      - name: lint web
        run: make lint-web
      - name: build web assets # built web assets must exist or lint will fail
        run : make build-web
      - name: lint daemon
        uses: golangci/golangci-lint-action@5c56cd6c9dc07901af25baab6f2b0d9f3b7c3018
  build:
    runs-on: ubuntu-latest
    needs: lint
    strategy:
      matrix:
        os: [ darwin, linux, windows ]
        arch: [ arm64, amd64 ]
        exclude:
          - os: windows
            arch: arm64
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: ^v1.16
      - name: build ${{ matrix.os }}/${{ matrix.arch }}
        run: GOOS=${{ matrix.os }} GOARCH=${{ matrix.arch }} make build-web static
      - name: upload binaries
        uses: actions/upload-artifact@v2
        with:
          name: dashboard-${{ matrix.os }}-${{ matrix.arch }}
          path: bin/*
          retention-days: 30
  docker:
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - uses: actions/checkout@v2
      - uses: docker/setup-qemu-action@v1
      - uses: docker/setup-buildx-action@v1
      - uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - uses: docker/metadata-action@v3
        name: generate tags
        id: meta
        with:
          images: siacentral/host-dashboard
          tags: |
            type=ref,event=branch
            type=semver,pattern={{version}}
      - uses: docker/build-push-action@v2
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta.outputs.tags }}